@import "./main.css";
@import "./style_screen_01.css";
.movebox {
  width: 90%;
  height: 80%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.movebox .left {
  width: 45%;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.movebox .left .StyleimgsBoxleft {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.movebox .left .StyleimgsBoxleft img {
  border-radius: 20px;
  width: 350px;
  height: 350px;
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  margin-right: 50px;
}
.movebox .right {
  width: 50%;
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.movebox .right .StyleimgsBoxright {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 100%;
}
.movebox .right .StyleimgsBoxright .subheading {
  height: 40%;
  margin-top: 30px;
  width: 95%;
}
.movebox .right .StyleimgsBoxright .subheading .first_textBox {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* 
  i {
    margin-right: 10px;
  } */
}
.movebox .right .StyleimgsBoxright .subheading .first_textBox a:link,
.movebox .right .StyleimgsBoxright .subheading .first_textBox a:visited,
.movebox .right .StyleimgsBoxright .subheading .first_textBox a:hover,
.movebox .right .StyleimgsBoxright .subheading .first_textBox a:active {
  color: rgb(65, 65, 65);
}
.movebox .right .StyleimgsBoxright .subheading .first_textBox .cody_title {
  font-size: 24px;
  font-weight: bold;
}
.movebox .right .StyleimgsBoxright .subheading .p1 {
  font-weight: 700;
  font-size: 25px;
}
.movebox .right .StyleimgsBoxright .subheading .p2 {
  padding-right: 50px;
}
.movebox .right .StyleimgsBoxright .miniImg {
  width: 100%;
  height: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.movebox .right .StyleimgsBoxright .miniImg .swiper {
  width: 100%;
  height: 100%;
}
.movebox .right .StyleimgsBoxright .miniImg .swiper .swiper-wrapper {
  display: flex;
  align-items: center;
}
.movebox .right .StyleimgsBoxright .miniImg .swiper-button-next,
.movebox .right .StyleimgsBoxright .miniImg .swiper-button-prev {
  z-index: 10;
  right: 0;
}
.movebox .right .StyleimgsBoxright .miniImg .swiper-button-next i,
.movebox .right .StyleimgsBoxright .miniImg .swiper-button-prev i {
  width: 15px;
  height: 15px;
  color: rgb(131, 131, 131);
}
.movebox .right .StyleimgsBoxright .miniImg .swiper-button-prev {
  left: 0;
  transform: translateX(-75%);
}
.movebox .right .StyleimgsBoxright .miniImg .swiper-button-next {
  right: 0;
  transform: translateX(75%);
}
.movebox .right .StyleimgsBoxright .miniImg .swiper-button-next:after,
.movebox .right .StyleimgsBoxright .miniImg .swiper-button-prev:after {
  display: none;
}
.movebox .right .StyleimgsBoxright .miniImg .swiper-slide {
  height: 120px;
  text-align: center;
  font-size: 18px;
  width: 120px;
  border-radius: 10px;
  margin-right: 20px;
  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}
.movebox .right .StyleimgsBoxright .miniImg .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  -o-object-fit: cover;
     object-fit: cover;
  max-width: 120px;
}/*# sourceMappingURL=style_screen_02.css.map */